# Renaming field names

# Setup

In [1]:
import pandas as pd

# Import and check data

In [2]:
players_df = pd.read_json('data/players_full_box_score.json')
team_df = pd.read_json('data/team_box_scores_full.json')

In [3]:
players_df.head()

,name,TEAM_ABBREVIATION,MIN,PTS,FG,3P,FT,AST,REB,DREB,OREB,BLK,STL,TO,PF
0,K. Johnson,SAS,30:11,24,8-12,1-3,7-8,0,2,2,0,0,1,3,4
1,L. Samanic,SAS,31:27,16,5-10,3-5,3-4,3,6,5,1,1,0,1,4
2,J. Poeltl,SAS,21:08,10,5-6,0-0,0-5,3,5,3,2,2,1,1,3
3,L. Walker IV,SAS,34:04,15,6-14,3-3,0-0,4,3,2,1,0,1,1,0
4,D. Murray,SAS,36:16,12,5-14,0-2,2-2,7,14,13,1,0,0,6,3

In [4]:
team_df.head()

,TEAM_ABBREVIATION,FG,FG_PCT,3P,FG3_PCT,FT,FT_PCT,AST,REB,DREB,OREB,BLK,STL,TO,PF
0,UTA,47-101,46.5,15-46,32.6,9-10,90.0,25,43,31,12,5,7,8,23
1,SAS,39-79,49.4,10-20,50.0,24-36,66.7,24,44,35,9,8,4,15,20

In [5]:
players_df.columns

Index(['name', 'TEAM_ABBREVIATION', 'MIN', 'PTS', 'FG', '3P', 'FT', 'AST',
       'REB', 'DREB', 'OREB', 'BLK', 'STL', 'TO', 'PF'],
      dtype='object')

In [6]:
team_df.columns

Index(['TEAM_ABBREVIATION', 'FG', 'FG_PCT', '3P', 'FG3_PCT', 'FT', 'FT_PCT',
       'AST', 'REB', 'DREB', 'OREB', 'BLK', 'STL', 'TO', 'PF'],
      dtype='object')

In [7]:
players_rename = dict()
teams_rename = dict()

for header in list(players_df.columns):
    new_header = 'player_' + str(header)
    players_rename[header] = new_header

for header in list(team_df.columns):
    new_header = 'team_' + str(header)
    teams_rename[header] = new_header

In [8]:
# team names are a litle cumbersome right now
teams_rename['TEAM_ABBREVIATION'] = 'team_name'
players_rename['TEAM_ABBREVIATION'] = 'team'

In [9]:
players_rename

{'name': 'player_name',
 'TEAM_ABBREVIATION': 'team',
 'MIN': 'player_MIN',
 'PTS': 'player_PTS',
 'FG': 'player_FG',
 '3P': 'player_3P',
 'FT': 'player_FT',
 'AST': 'player_AST',
 'REB': 'player_REB',
 'DREB': 'player_DREB',
 'OREB': 'player_OREB',
 'BLK': 'player_BLK',
 'STL': 'player_STL',
 'TO': 'player_TO',
 'PF': 'player_PF'}

In [10]:
teams_rename

{'TEAM_ABBREVIATION': 'team_name',
 'FG': 'team_FG',
 'FG_PCT': 'team_FG_PCT',
 '3P': 'team_3P',
 'FG3_PCT': 'team_FG3_PCT',
 'FT': 'team_FT',
 'FT_PCT': 'team_FT_PCT',
 'AST': 'team_AST',
 'REB': 'team_REB',
 'DREB': 'team_DREB',
 'OREB': 'team_OREB',
 'BLK': 'team_BLK',
 'STL': 'team_STL',
 'TO': 'team_TO',
 'PF': 'team_PF'}

In [11]:
players_df.rename(columns=players_rename, inplace=True)
team_df.rename(columns=teams_rename, inplace=True)

In [12]:
players_df.columns

Index(['player_name', 'team', 'player_MIN', 'player_PTS', 'player_FG',
       'player_3P', 'player_FT', 'player_AST', 'player_REB', 'player_DREB',
       'player_OREB', 'player_BLK', 'player_STL', 'player_TO', 'player_PF'],
      dtype='object')

In [16]:
# Export files
players_df.to_json('data/renamed_players_box_score.json', orient='index')
team_df.to_json('data/renamed_team_box_score.json', orient='index')